                  <div class=control>
                    <div class="select">
                    <select>
                          <option>Credits Per Semester</option>
                    
                            <option
                              type="checkbox"
                              id="half credit"
                              value="credits=0.5"
                              v-model="checkedBoxes"
                              @change="filter"
                            >
                            <label for="half credit"> 0.5</label>
                            </option>
                            <option
                              type="checkbox"
                              id="1 credit"
                              value="credits=1"
                              v-model="checkedBoxes"
                              @change="filter"
                            >
                            <label for="1 credits"> 1</label>
                          </option>
                        </select>
                      </div>
                    </div>
