{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Under Maintenance</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
  </head>

  <div>
    <section class="hero is-dark is-fullheight has-bg-img">
      <!-- Hero header: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="navbar-brand">
            <a
              class="navbar-item"
              href="https://www.uscsd.k12.pa.us/"
            >
              <img
                src="{% static 'usclogo.png' %}"
                width="50"
                height="118"
              >
            </a>

            <div class="navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="navbar-menu">
            <!-- navbar start, navbar end -->
            <div class="navbar-end">
              <a class="navbar-item">
                <a href="/admin">Admin Page</a>
              </a>
              <a href="" class="navbar-item"></a>
            </div>
          </div>
        </header>
      </div>

      <!-- Hero content: will be in the middle -->
      <div
        class="hero-body"
        style="margin-bottom:50px"
      >
        <div class="container has-text-centered">
          <img
            style="margin-bottom:25px"
            src="{% static 'usclogo.png' %}"
            width="250"
            height="400"
          >
          <h1 class="title">
            Sorry, we're down for maintenance.
          </h1>
          <h2 class="subtitle">
            Please come back later.
          </h2>

        </div>
      </div>
      <!-- Hero footer: will stick at the bottom -->
    </section>
  </div>
</template>

<style>
.has-bg-img {
  background: url("{% static 'homebackground.jpg' %}") center center;
  background-size: cover;
}
</style>  
